<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
  <mat-card>
    <mat-card-content>
      <div style="display: flex; justify-content: center; margin-top: 20px;">
        <h3>Notfound works!</h3>        
      </div>      
      <div style="display: flex; justify-content: center;">        
        <h4>PAGINA NO ENCONTRADA</h4>
      </div>      
      <div style="display: flex; justify-content: center;">
        <img src="../../../../../assets/img/error.png" alt="" style="max-width: 50%; height: auto;">
      </div>
    </mat-card-content>
  </mat-card>
</div>