<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
  <mat-card>
    <mat-card-content>
      <div style="display: flex; justify-content: center; margin-top: 20px;">
        <h1>Iniciar sesión</h1>
      </div>      
      <form class="example-form" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input type="email" matInput placeholder="epat@example.com" formControlName="email">              
          <mat-error *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched">Email es <strong>requerido</strong></mat-error>                
        </mat-form-field>
        <mat-form-field>
          <mat-label>Contraseña</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">Contraseña es <strong>requerido</strong></mat-error>                
        </mat-form-field>
        <div>
          <p style="color: red;">{{error}}</p>
        </div>        
        <div style="display: flex; justify-content: space-between; margin-top: 20px;">          
          <button mat-flat-button color="primary" [disabled]="loginForm.invalid" style="flex-grow: 1;">Iniciar sesión</button>
        </div>
        <div style="display: flex; justify-content: center; margin-top: 20px;">          
          <button mat-button style="margin-right: 16px;" routerLink="/register/user">Registrar usuario</button>
        </div>        
      </form>
    </mat-card-content>
  </mat-card>
</div>

