<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
  <mat-card>
    <mat-card-content>
      <div style="display: flex; justify-content: center; margin-top: 20px;">
        <h1>Registrar usuario</h1>
      </div>      
      <form class="example-form" (ngSubmit)="onSubmit()" [formGroup]="registerForm">
        <mat-form-field class="example-full-width">
          <mat-label>Nombre</mat-label>
          <input type="text" matInput placeholder="epat@example.com" formControlName="name">                        
          <mat-error *ngIf="registerForm.get('name')?.hasError('required') && registerForm.get('name')?.touched">Nombre es <strong>requerido</strong></mat-error>                
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Apellidos</mat-label>
          <input type="text" matInput placeholder="epat@example.com" formControlName="surname">  
          <mat-error *ngIf="registerForm.get('surname')?.hasError('required') && registerForm.get('surname')?.touched">Apellidos es <strong>requerido</strong></mat-error>                                      
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input type="email" matInput placeholder="epat@example.com" formControlName="email">      
          <mat-error *ngIf="registerForm.get('email')?.hasError('required') && registerForm.get('email')?.touched">Email es <strong>requerido</strong></mat-error>                                  
        </mat-form-field>
        <mat-form-field>
          <mat-label>Contraseña</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>       
          <mat-error *ngIf="registerForm.get('password')?.hasError('required') && registerForm.get('password')?.touched">Contraseña es <strong>requerida</strong></mat-error>                                     
        </mat-form-field>        
        <div>
          <p style="color: red;">{{error}}</p>
        </div>
        <div style="display: flex; justify-content: space-between; margin-top: 20px;">          
          <button mat-flat-button color="primary" [disabled]="registerForm.invalid"   style="flex-grow: 1;">Registrar usuario</button>
        </div>     
        <div style="display: flex; justify-content: center; margin-top: 20px;">          
          <button mat-button style="margin-right: 16px;" routerLink="/auths/login">Iniciar sesion</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
